@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --bg-body:#FEFEFE;
  --bg-header-app:#FFFFFF;
  --bg-light:#FFFFFF;
  --font-app: 'Poppins', sans-serif;
}
body{
  font-family:var(--font-app);
  background:var(--bg-body);
}
.container{
  max-width:850px;
  padding:0em 1em;
  margin:0 auto;
  display:block;
}
.container-app{
  margin-top:85px;
  display:block;
  position:relative;
}
.header-app{
  width:100%;
  height:65px;
  background:var(--bg-header-app);
  border-bottom:1px solid #E4E4E4;
  position:fixed;
  display:flex;
  align-items:center;
  top:0;
  left:0;
  z-index:2;
}
.header-app .header-container-app{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.header-container-app .logo-app img{
  width:100px;
  height:100%;
  display:flex;
  align-items:center;
}
.header-container-app .search-app .items-search{
  width:100%;
  display:flex;
  align-items:center;
  grid-gap:0.4em;
}
.items-search .item-input{
  width:100%;
  height:35px;
  font-family:var(--font-app);
  outline:none;
  font-size:13px;
  font-weight:400;
  border:1px solid #3434;
  border-radius:3px;
  padding:10px;
}
.items-search .btn{
  width:70px;
  height:35px;
  font-size:12px;
  font-weight:400;
  color:#373737;
  background:#F1F1F1;
  font-family:var(--font-app);
  border-radius:4px;
  border:none;
  outline:none;
}
.menu-app ul{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.menu-app ul li{
  list-style:none;
}
.menu-app ul li a{
  text-decoration:none;
  color:#373737;
}
.menu-app ul li a .icon{
  width:35px;
  height:35px;
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0px 8px;
}
.menu-app ul li a #photo{
  width:35px;
  height:35px;
  border-radius:50%;
  object-fit:cover;
  object-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
@media screen and (max-width:450px){
  .card-post{
    width:100%;
  }
  .data-profile{
    display: none;
  }
  .scroll-storys{
    width:100%;
  }
  .menu-app{
    width:100%;
    height:65px;
    background:var(--bg-header-app);
    border-top:1px solid #939393;
    position:fixed;
    display:flex;
    justify-content:space-around;
    align-items:center;
    bottom:0;
    left:0;
  }
  .menu-app ul{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:0px;
    left:0;
  }
  .menu-app ul li a img{
    width:35px;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
  }
  .menu-app ul li a .icon{
   width:35px;
   height:35px;
   display:flex;
   justify-content:center;
   align-items:center;
  }
}
